USE [HBI_HMI]
GO
/****** Object:  StoredProcedure [dbo].[K_ETL_Wb]    Script Date: 04/15/2016 16:56:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

alter ProceDure [dbo].[K_ETL_Wb]    
as  
Begin    
-------------------------抽取药房维表------------------------------------    
 truncate table k_w_yf    
 Select distinct yfCode,yfName,identity(int,1,1) xh into #temp_ypxx from K_Ypxx Where yfCode is not null    
 Insert Into k_w_yf(xh,dm,mc)    
 Select xh,yfCode,yfName from #temp_ypxx  
 
 update k_w_yf
 set mc=replace(replace(replace(replace(replace(mc,char(10),''),char(13),''),'	',''),'（','('),'）',')')  
-------------------------抽取科室维表------------------------------------    
 truncate table k_w_ks    
 Insert into k_w_ks(xh,dm,mc)    
 select row_number() over(order by DeptID) as xh,DeptID,DeptName from hbidata..WB_Dept  

 
 update k_w_ks
 set mc=replace(replace(replace(replace(replace(mc,char(10),''),char(13),''),'	',''),'（','('),'）',')')
 
 
-------------------------抽取医生维表------------------------------------------------    
truncate table k_w_Doctor    
insert into k_w_Doctor(xh,dm,mc,isys)    
select row_number() over(order by Userid) xh,Userid,TName,case When zc Like '%医%' Then 1 Else 0 End isys    
  from hbidata..WB_Doctor  where userid is not null
UPDATE k_w_Doctor SET mc = REPLACE(mc, CHAR(13) , '')--更新字典表中的回车符号   

--select ss_ICCM from #K_W_SS group by ss_ICCM having count(*)>1
-------------------------手术维表------------------------------------------------ select ss_iccm,count(*) from #K_W_SS   group by ss_iccm having count(*)>1   select * from #K_W_SS  where ss_iccm='4578911'
truncate table K_W_SS    
select distinct ss_ICCM,ss_Name into #K_W_SS     
  from K_SSxx Where ss_ICCM is not null 


select row_number() over(ORDER BY ss_ICCM )xh,ss_ICCM,ss_Name into #K_W_SS2  from #K_W_SS 


insert into K_W_SS (xh,dm,mc)    
Select * from #K_W_SS2   

 update K_W_SS
 set mc=replace(replace(replace(replace(replace(mc,char(10),''),char(13),''),'	',''),'（','('),'）',')')  

---------------------------常见抗生素维表------------------------------------------------    
--truncate table K_W_CjKss     
--Select distinct identity(int,1,1) xh,ymjg dm,ymjg mc,'1' iscy into #k_w_cjkss from K_xjny    
--Insert into K_W_CjKss(xh,dm,mc,iscy)    
--Select * from #k_w_cjkss    

-- update K_W_CjKss
-- set mc=replace(replace(replace(replace(replace(mc,char(10),''),char(13),''),'	',''),'（','('),'）',')')  
 
---------------------------病原体维表------------------------------------------------    
--truncate table  K_W_byt     
--Select distinct identity(int,1,1) xh,jyjg dm,jyjg mc into #K_W_byt from K_xjny    
--insert into  K_W_byt (xh,dm,mc)     
--Select * from #K_W_byt    

-- update K_W_byt
-- set mc=replace(replace(replace(replace(replace(mc,char(10),''),char(13),''),'	',''),'（','('),'）',')')  

------------------------药物类别维表(小类)---------------------------------------------
 truncate table w_k_yplb     
Select  identity(int,1,1) xh,dm,mc into #temp_k_w_yplb  from(    
select distinct yplb dm,yplb mc  from K_Ypxx where yplb is not null  
)a    
Insert into w_k_yplb(xh,dm,mc)    
select * from #temp_k_w_yplb   

 update w_k_yplb
 set mc=replace(replace(replace(replace(replace(mc,char(10),''),char(13),''),'	',''),'（','('),'）',')')  


-----------------------药品大类维表(大类)-------------------------------------------
 truncate table w_k_ypdllb     
Select  identity(int,1,1) xh,dm,mc into #temp_w_k_ypdllb  from(    
select distinct Ypdlfl dm,Ypdlfl mc  from K_Ypxx where Ypdlfl is not null  
)a    
Insert into w_k_ypdllb(xh,dm,mc)    
select * from #temp_w_k_ypdllb  

 update w_k_ypdllb
 set mc=replace(replace(replace(replace(replace(mc,char(10),''),char(13),''),'	',''),'（','('),'）',')')  



---------------------------抗菌药物类别维表------------------------------------------------    
--truncate table k_kjywlb     
--Select  identity(int,1,1) xh,dm,mc into #temp_kjywlb  from(    
--select distinct yplb dm,yplb mc  from K_Ypxx where iskss=1    
--)a    
--Insert into k_kjywlb(xh,dm,mc)    
--select * from #temp_kjywlb    

-- update k_kjywlb
-- set mc=replace(replace(replace(replace(replace(mc,char(10),''),char(13),''),'	',''),'（','('),'）',')')  
    
-----------------------非抗菌药物类别维表------------------------------------------------    
truncate table k_kjywlb_hx    
select distinct ypid dm,ypmc mc into #Tmp_Data from K_Ypxx where iskss=0     
Select row_number() over(Partition by dm ORDER BY dm DESC) rownum,* into #Tmp_k_kjywlb_hx from #Tmp_Data      
Insert into k_kjywlb_hx(xh,dm,mc)    
select row_number() over(order by dm),dm,mc from #Tmp_k_kjywlb_hx Where rownum=1   

 update k_kjywlb_hx
 set mc=replace(replace(replace(replace(replace(mc,char(10),''),char(13),''),'	',''),'（','('),'）',')')  

    
-------------------------药物名称维表------------------------------------------------ select top 1000  *   from HBIdata..WB_YPZD   where iskss=1 
truncate table w_ywmc_hx     
Select distinct ypid dm,ypmc mc into #w_ywmc_hx     
  from HBIdata..WB_YPZD  
         
Insert into w_ywmc_hx(xh,dm,mc)    
select row_number() over(order by dm),dm,mc from #w_ywmc_hx  

 update w_ywmc_hx
 set mc=replace(replace(replace(replace(replace(mc,char(10),''),char(13),''),'	',''),'（','('),'）',')')      
     
--大类分类    
truncate table W_K_dlfl     
Select distinct identity(int,1,1) xh,DLFLDM dm,DLFLMC mc into #dlfl from HBIdata..WB_YPZD Where DLFLDM is not null and isty=0    
insert into W_K_dlfl(xh,dm,mc)     
Select * from #dlfl    

 update W_K_dlfl
 set mc=replace(replace(replace(replace(replace(mc,char(10),''),char(13),''),'	',''),'（','('),'）',')' )  
    
 
---------------抗菌药物品种---------------------------    
Select distinct identity(int,1,1) xh,ypid dm,ypmc mc into #W_Ywpz from HBIdata..WB_YPZD     
 Where ypmc is not null And iskss=1 And isty=0    
 
TRUNCATE TABLE   W_Ywpz
insert into W_Ywpz(xh,dm,mc)     
Select * from #W_Ywpz a Where not exists(Select * from W_Ywpz Where a.dm=W_Ywpz.dm)    

 update W_Ywpz
 set mc=replace(replace(replace(replace(replace(mc,char(10),''),char(13),''),'	',''),'（','('),'）',')'  ) 
 
         
     
----更新数据    
--Update K_ks_ys_yp Set kjywpz=null,kjywpz_mc=null    
--Update K_ks_ys_yp Set kjywpz=pzlb,kjywpz_mc=pzlb from W_Ywpz Where K_ks_ys_yp.yp02=W_Ywpz.dm    
      
-------------药物品种整理后-----------------------    
truncate table W_kjywpz_zl    
Select distinct YPPZdm dm,YPPZMC mc into #W_kjywpz_zl from HBIData..WB_YPZD Where yppzdm is not null   
insert into W_kjywpz_zl(xh,dm,mc)     
Select row_number() over(order by dm),* from #W_kjywpz_zl  

update W_kjywpz_zl
set mc=replace(replace(replace(replace(replace(mc,char(10),''),char(13),''),'	',''),'（','('),'）',')')



      
      
    
---------------是否针剂---------------------------    
truncate table W_iszj        
Select distinct identity(int,1,1) xh,JXMC dm,JXMC mc into #W_iszj from HBIdata..WB_YPZD Where JXMC is not null    
insert into W_iszj(xh,dm,mc)      
Select * from #W_iszj    

update W_iszj
set mc=replace(replace(replace(replace(replace(mc,char(10),''),char(13),''),'	',''),'（','('),'）',')')
  
---------------(中药房)中成药,中草药分类维表--------------  
truncate table W_zylb_hx  
select distinct identity(int,1,1) xh,sflbdm,sflbmc into #W_zylb_hx from K_yfcf where sflbdm in('6','7')  
insert into W_zylb_hx(xh,dm,mc)  
  select *from #W_zylb_hx  
 drop table #W_zylb_hx  
 
update W_zylb_hx
set mc=replace(replace(replace(replace(replace(mc,char(10),''),char(13),''),'	',''),'（','('),'）',')')
 
--抗生素级别
truncate table W_kss_grade

INSERT INTO  W_kss_grade(xh,dm,mc)
SELECT 1,1,'非限制级'
UNION
SELECT 2,2,'限制级'
UNION
SELECT 3,3,'特殊级'

End 

--exec K_ETL_Wb