USE [hbidata]
GO
/****** Object:  StoredProcedure [dbo].[P_VsCH0E_ETL]    Script Date: 04/07/2016 14:26:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[P_VsCH0E_ETL]
   @StartDate varchar(10), @EndDate varchar(10)

As
begin
  Declare @SQLText varchar(8000)
  CREATE TABLE #CH0E(
   ChYear               Varchar(4)           not null,
   Ch0E01               Varchar(50)          not null,
   Ch0E04               Varchar(1)           null,
   Ch0E04_MC            varchar(20)          null,
   CH0E07               int                  not null,
   CH0E08               Varchar(20)          null,
   CH0E08_MC            Varchar(200)         null,
   CH0E09               Varchar(50)          null,
   CH0E10               Varchar(50)          null,
   CH0E10_MC            Varchar(100)         null,
   CH0E11               Datetime             null,
   CH0E12               Varchar(1)           null,
   CH0E12_MC            varchar(10)          null,
   CH0E13               Varchar(1)           null,
   CH0E13_MC            varchar(10)          null,
   CH0E14               Varchar(50)          null,
   CH0E15               Varchar(50)          null,
   CH0E16               Varchar(50)          null,
   CH0E17               Varchar(1)           null,
   CH0E18               int                  null,
   Ch0EE1               Varchar(1)           null,
   CH0EE2               int                  null,
   CH0EE2_MC            varchar(50)          null,
   CH0EE3               int                  null,
   CH0EE4               Varchar(20)          null,
   CH0EE4_MC            Varchar(50)          null,
   CH0EZ01              int                  null,
   CH0EZ02              int                  null,
   CH0EZ03              int                  null,
   CH0EZ04              int                  null,
   CH0EZ05              int                  null,
   CH0EZ06              int                  null,
   CH0EZ07              int                  null,
   CH0EZ08              int                  null,
   CH0EZ09              int                  null,
   CH0EZ10              int                  null,
   CH0EZ11              int                  null,
   CH0EZ12              int                  null,
   IsJRSS               int                  null,
   iszqss               int                  null)
  Set @SQLText= 
  'INSERT INTO #CH0E 
           ([CHYear]
      ,[Ch0E01]
      ,[Ch0E04]
      ,[Ch0E04_MC]
      ,[CH0E07]
      ,[CH0E08]
      ,[CH0E08_MC]
      ,[CH0E09]
      ,[CH0E10]
      ,[CH0E10_MC]
      ,[CH0E11]
      ,[CH0E12]
      ,[CH0E12_MC]
      ,[CH0E13]
      ,[CH0E13_MC]
      ,[CH0E14]
      ,[CH0E15]
      ,[CH0E16]
      ,[CH0E17]
      ,[CH0E18]
      ,[Ch0EE1]
      ,[CH0EE2]
      ,[CH0EE2_MC]
      ,[CH0EE3]
      ,[CH0EE4]
      ,[CH0EE4_MC]
      ,[CH0EZ01]
      ,[CH0EZ02]
      ,[CH0EZ03]
      ,[CH0EZ04]
      ,[CH0EZ05]
      ,[CH0EZ06]
      ,[CH0EZ07]
      ,[CH0EZ08]
      ,[CH0EZ09]
      ,[CH0EZ10]
      ,[CH0EZ11]
      ,[CH0EZ12]
      ,[IsJRSS]
      ,[iszqss])
  Select * From OpenQuery(jcba, '' 
     Select substr(to_char(e.FOPDAT,''''yyyy-mm-dd''''),1,4) chyear,
            a.FMRDID
      ,e.FOPLEV
      ,b.fdesc Ch0E04_MC
      ,e.FSEQ CH0E07
      ,e.FOPID CH0E08
      ,c.fdesc CH0E08_MC
      ,e.FOPDOC CH0E09
      ,e.FMZTH CH0E10
      ,d.fdesc CH0E10_MC
      ,to_char(e.FOPDAT,''''yyyy-mm-dd'''') CH0E11
      ,e.FCUT CH0E12
      ,f.fdesc CH0E12_MC
      ,e.FYHTYP CH0E13
      ,g.fdesc CH0E13_MC
      ,e.FOPFZ1 CH0E14
      ,e.FOPFZ2 CH0E15
      ,e.FMZYS CH0E16
      ,case when c.FTYPE2=''''C1'''' or c.FTYPE2=''''C2'''' or e.FOPLEV=''''0'''' then 0 else 1 end CH0E17
      ,cast(0  as int) CH0E18
      ,case when c.FTYPE2=''''C1'''' or c.FTYPE2=''''C2'''' or e.FOPLEV=''''0'''' then 0 else 1 end Ch0EE1
      ,e.FMZASA CH0EE2
      ,h.fdesc CH0EE2_MC
      ,cast(null as int) CH0EE3
      ,e.fs07 CH0EE4
      ,i.fdesc CH0EE4_MC
      ,e.fs03 CH0EZ01
      ,cast(null as int) CH0EZ02
      ,e.fs05 CH0EZ03
      ,case when e.fs06 is not null then 1 else 0 end CH0EZ04
      ,case when e.fs06=''''1'''' then 1 else 0 end CH0EZ05
      ,case when e.fs06=''''2'''' then 1 else 0 end CH0EZ06
      ,case when e.fs06=''''3'''' then 1 else 0 end CH0EZ07
      ,case when e.fs06=''''4'''' then 1 else 0 end CH0EZ08
      ,case when e.fs06=''''5'''' then 1 else 0 end CH0EZ09
      ,case when e.fs06=''''6'''' then 1 else 0 end CH0EZ10
      ,case when e.fs06=''''7'''' then 1 else 0 end CH0EZ11
      ,case when e.fs06=''''8'''' then 1 else 0 end CH0EZ12
      ,cast(null as int) IsJRSS
      ,case when e.FZQSS=''''1'''' then 1 else 0 end iszqss 
    FROM TMRDOP E
      Inner Join TMRDDE A on  a.FMRDID=E.FMRDID
      Left Join TOPLEV b on e.FOPLEV=b.fid
      Left Join (SELECT * from TOPSM WHERE FST IS NULL) c on e.FOPID=c.fid
      left join  THOCUS d on e.FMZTH=d.fid 
      left join TCUTM  f on e.fcut=f.fid 
      left join TYHTYM  g on e.FYHTYP=g.fid  
      left join (SELECT distinct FID,FQUN,FDESC FROM TSTAND_LIST WHERE FTYPE=''''MRD200.DW_31.FMZASA'''') h on e.FMZASA=h.fid 
      left join (SELECT FID,FQUN,FDESC FROM TSTAND_LIST WHERE FTYPE=''''MRD200.DW_31.FS07'''') i on e.fs07=i.fid
    Where (to_char(e.FOPDAT,''''yyyy-mm-dd'''')>='''''+@StartDate+''''' and to_char(e.FOPDAT,''''yyyy-mm-dd'''')<='''''+@EndDate+''''') '')'
--  print (@SQLText)   
  exec (@SQLText)

  

  Delete VsCH0E
    Where Exists(Select 1 From #CH0E Where VsCH0E.CH0E01=#CH0E.CH0E01)
    

  Delete VsCH0E
    Where not Exists(Select 1 From VsCH0A A Where  CH0A01=CH0E01)

  Insert Into VsCH0E ([CHYear]
      ,[Ch0E01]
      ,[Ch0E04]
      ,[Ch0E04_MC]
      ,[CH0E07]
      ,[CH0E08]
      ,[CH0E08_MC]
      ,[CH0E09]
      ,[CH0E10]
      ,[CH0E10_MC]
      ,[CH0E11]
      ,[CH0E12]
      ,[CH0E12_MC]
      ,[CH0E13]
      ,[CH0E13_MC]
      ,[CH0E14]
      ,[CH0E15]
      ,[CH0E16]
      ,[CH0E17]
      ,[CH0E18]
      ,[Ch0EE1]
      ,[CH0EE2]
      ,[CH0EE2_MC]
      ,[CH0EE3]
      ,[CH0EE4]
      ,[CH0EE4_MC]
      ,[CH0EZ01]
      ,[CH0EZ02]
      ,[CH0EZ03]
      ,[CH0EZ04]
      ,[CH0EZ05]
      ,[CH0EZ06]
      ,[CH0EZ07]
      ,[CH0EZ08]
      ,[CH0EZ09]
      ,[CH0EZ10]
      ,[CH0EZ11]
      ,[CH0EZ12]
      ,[IsJRSS]
      ,[iszqss])
    Select [CHYear]
      ,[Ch0E01]
      ,[Ch0E04]
      ,[Ch0E04_MC]
      ,[CH0E07]
      ,[CH0E08]
      ,[CH0E08_MC]
      ,[CH0E09]
      ,[CH0E10]
      ,[CH0E10_MC]
      ,[CH0E11]
      ,[CH0E12]
      ,[CH0E12_MC]
      ,[CH0E13]
      ,[CH0E13_MC]
      ,[CH0E14]
      ,[CH0E15]
      ,[CH0E16]
      ,[CH0E17]
      ,[CH0E18]
      ,[Ch0EE1]
      ,[CH0EE2]
      ,[CH0EE2_MC]
      ,[CH0EE3]
      ,[CH0EE4]
      ,[CH0EE4_MC]
      ,[CH0EZ01]
      ,[CH0EZ02]
      ,[CH0EZ03]
      ,[CH0EZ04]
      ,[CH0EZ05]
      ,[CH0EZ06]
      ,[CH0EZ07]
      ,[CH0EZ08]
      ,[CH0EZ09]
      ,[CH0EZ10]
      ,[CH0EZ11]
      ,[CH0EZ12]
      ,[IsJRSS]
      ,[iszqss] From #CH0E
      
  
     
End

/*
Select CHYear, Count(*) ZS, Sum(IsJRSS) JR From VsCH0E Group By CHYear
select * from aa where ch0e01='54113901'
select * from VsCH0E where ch0e01='54113901'
Exec P_VsCH0E_ETL '2016-01-01', '2016-04-06' 
truncate table VsCH0E

*/

